/* General */

h1 {
  font-family: Orbitron, monospace;
  text-align: center;
}

body {
  background-image: url(http://fullerdevelopment.tnc-group.com/images/overallBackground.png);
  font-family: Cabin, monospace;
  height: 100%;
  padding-top: 150px;
}

.p-center {
  text-align: center;
}

.sub-heading {
  margin-top: -10px;
  text-align: center;
}

p {
  color: rgb(0, 0, 0);
  text-align: left;
}

.btn {
  text-align: left;
}

.btn-xlarge {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 22px;
  line-height: normal;
  padding: 18px 28px;
}


/* Sections */

.section {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 20px;
  text-align: center;
}

.button-contact {
  margin-top: 10px;
}


/* SAIC Section */

#SAIC {
  background-image: url(http://fullerdevelopment.tnc-group.com/images/homeBackground.jpg);
}


/* Raydar Section */

#Raydar {
  background-image: url(http://fullerdevelopment.tnc-group.com/images/homeBackground.jpg);
}

.project-text {
  font-size: 20px;
  padding-top: 50px;
}

.project-text > p {
  align-text: center;
}


/* Contact Section */

#Contact {
  background-image: url(http://fullerdevelopment.tnc-group.com/images/contactBackground.jpg);
  padding-top: 10vh;
}
