body {
  transition: background 1s linear;
}

h1 {
  color: white;
  font-size: 26px;
  font-weight: 900;
  padding-bottom: 50px;
  text-align: center
}

article {
}

nav {
  margin-top: 40px;
  padding-top: 20px;
}

.p-center {
  font-weight: bold;
  text-align: center;
}

.p-right {
  font-style: italic;
  text-align: right;
}
