body {
  transition: background 1s linear;
}

h1 {
  color: white;
  font-size: 36px;
  font-weight: 900;
  padding-bottom: 50px;
  text-align: center
}

article {
}

nav {
  padding-top: 50px;
}

.quote-text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.quote-author {
  font-style: italic;
  text-align: right;
}

.custom-button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
    border-radius: 10px;
    color: white;
    font-size: 22px;
    line-height: normal;
    padding: 18px 28px;
    transition: background 1s linear;
}
