body {
  background-color: rgb(191, 210, 198);
  font-family: monospace;
}

h1 {
  padding: 40px 0 40px 0;
  text-align: center;
}

h3 {
  color: rgb(255,255,255);
  font-style: italic;
  text-align: center;
}

.calculator {
  background-color: rgb(60, 60, 60);
  border-radius: 10px;
  margin: auto;
  padding:30px;
  text-align:center;
  width: 500px;
}

.calculator-display-area {
  margin: auto;
  width: 440px;
}

.calculator-display {
  height: 50px;
  font-family: Orbitron;
  font-size: 26px;
  text-align: right;
}

.calculator-numpad {
  background-color: rgb(200,200,200);
  border-radius: 16px;
  padding: 30px 0 50px 0;
}

.calc-button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: rgb(180, 180, 180);
  border-radius: 4px;
  border-color: black;
  border-style: solid;
  border-width: thin;
  color: rgb(60, 60, 60);
  font-size: 20px;
  height: 60px;
  line-height: normal;
  padding: 8px;
  width: 100px;
}

.calc-button-2Wide {
  width:210px;
}
