body {

}

h1 {
  text-align: center;
}

.calc-button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: rgb(161, 161, 161);
  border-radius: 4px;
  border-color: black;
  border-style: solid;
  border-width: thin;
  color: white;
  font-size: 12px;
  height: 30px;
  line-height: normal;
  padding: 4px;
  width: 50px;
}

#equal-button {
  width:100px;
}
