body {
  background-color: rgb(191, 210, 198);
  font-family: monospace;
}

h1 {
  padding: 40px 0 40px 0;
  text-align: center;
}

h3 {
  color: rgb(255,255,255);
  font-style: italic;
  text-align: center;
}

.clock {
  background: linear-gradient(180deg, cyan 90%, pink 10%);
  border-color: rgb(60, 60, 60);
  border-style: solid;
  border-radius: 50%;
  margin: auto;
  padding:30px;
  text-align:center;
  line-height: 350px;
  vertical-align: middle;
  font-size: 100px;
  height: 450px;
  width: 500px;
}
