body {
  background-color: rgb(180, 180, 180);
  font-family: monospace;
  font-size: 14px;
}

h1 {
  font-size: 60px;
  padding: .5em 0 .5em 0;
  text-align: center;
}

h3 {
  color: rgb(255, 255, 255);
  font-style: italic;
  text-align: center;
}

.clock-backdrop {
  border-radius: 10%;
  font-size: 16px;
  line-height: 18em;
  height: 20em;
  margin: auto;
  vertical-align: middle;
  width: 22em;
}

.clock {
  background: linear-gradient(180deg, cyan 90%, pink 10%);
  border-color: rgb(60, 60, 60);
  border-style: solid;
  border-radius: 50%;
  margin: auto;
  padding: 1em;
  text-align: center;
  line-height: 18em;
  vertical-align: middle;
  height: 20em;
  width: 22em;
}

.clock > p {
  font-size: 4em;
}

.clock-backdrop:hover {
  background: rgba(186, 200, 197, 0.60);
  border-color: rgba(186, 200, 197, 0.60);
  opacity: 10%;
}

.clock:hover {
  cursor: pointer;
}

.control-area {
  font-size: 24px;
  padding: 0 0 1em 0;
  text-align: center;
}

.control-block {
  border-radius: 10%;
  border-style: solid;
  display: inline-block;
  width: 6em;
}

.control-block:hover {
  background: rgba(186, 200, 197, 0.60);
}

.control-block > i:hover {
  color: red;
  cursor: pointer;
}
