/* General */

h1 {
  font-family: Orbitron, monospace;
  text-align: center;
}

body {
  background-image: url(http://fullerdevelopment.tnc-group.com/images/overallBackground.png);
  font-family: Cabin, monospace;
  height: 100%;
  padding-top: 150px;
}

p {
  color: rgb(0, 0, 0);
  text-align: left;
}

.btn {
  text-align: left;
}

.btn-xlarge {
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    font-size: 22px;
    line-height: normal;
    padding: 18px 28px;
    }

/* Sections */

.section {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 20px;
  text-align: center;
}

/* Home Section */

#Home {
  background-image: url(http://fullerdevelopment.tnc-group.com/images/homeBackground.jpg);
}

#sub-heading {
  margin-top: -10px;
  text-align: center;
}

/* About Section */

#About {
  background-image: url(http://fullerdevelopment.tnc-group.com/images/aboutBackground.jpg);
}

#about-text {
  font-size: 20px;
  padding-top: 50px;
}

#section-logo {
  padding-top: 60px;
}

/* Portfolio Section */

#Portfolio {
  background-image: url(http://fullerdevelopment.tnc-group.com/images/portfolioBackground.jpg);
  padding-top: 6vh;
}

/* Contact Section */

#Contact {
  background-image: url(http://fullerdevelopment.tnc-group.com/images/contactBackground.jpg);
  padding-top: 6vh;
}
