h1 {
  font-family: Orbitron, monospace;;
  text-align: center;
}

body {
  height: 100%;
  padding-top: 250px;
}

.section {
  height: 100vh;
  padding-top: 100px;
}

section:nth-child(1) {
  background: lightblue;
}
section:nth-child(2) {
  background: lightgreen;
}
section:nth-child(3) {
  background: purple;
}
section:nth-child(4) {
  background: red;
}

.row {
  padding-bottom: 20px;
}
#sub-heading {
  text-align: center;
}
.btn {
  text-align: left;
}
