/* General */

h1 {
  font-family: Orbitron, monospace;
  text-align: center;
}

h1.left-align {
  text-align: left;
}

body {
  background-image: url(http://fullerdevelopment.tnc-group.com/images/overallBackground.png);
  font-family: Cabin, monospace;
  height: 100%;
  padding-top: 150px;
}

section {
  background-repeat: no-repeat;
  background-size: cover;
  border-style: solid;
  height: 100vh;
  padding-top: 50px;
  text-align: center;
}

p {
  color: rgb(255, 255, 255);
  text-align: left;
}

p.p-center {
  text-align: center;
}

.button-row {
  padding: 50px 30px 0 30px;
}

.btn {
  text-align: left;
}

.btn-xlarge {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 22px;
  line-height: normal;
  padding: 18px 28px;
}

/* Sections */

.button-contact {
  margin-top: 10px;
}

/* Home Section */

#Home {
  background-image: url(http://fullerdevelopment.tnc-group.com/images/homeBackground.jpg);
}

#sub-heading {
  margin-top: -10px;
  text-align: center;
}

/* About Section */

#About {
  background-image: url(http://fullerdevelopment.tnc-group.com/images/aboutBackground.jpg);
}

#About > logo {
  padding-top: 50px;
}

#about-text {
  font-size: 20px;
  padding-top: 50px;
}

#about-text > p {
  align-text: center;
}

/* Portfolio Section */

#Portfolio {
  background-image: url(http://fullerdevelopment.tnc-group.com/images/portfolioBackground.jpg);
  padding-top: 6vh;
  text-align: center;
}

/* Contact Section */

#Contact {
  background-image: url(http://fullerdevelopment.tnc-group.com/images/contactBackground.jpg);
  padding-top: 10vh;
}
